main {
    padding: 2em;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-section,
.testimonials-section {
    margin-bottom: 2em;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.services-section {
    margin-bottom: 2em;
    width: 100%;
    max-width: 800px;
}

.services-section h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 1em;
}

.carousel .slide {
    background: none;
}

.carousel .carousel-item img {
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel .legend {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel .control-dots .dot {
    background: #ffffff;
}